* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header-wrapper {
  width: 100%;
  height: 42px;
  background-color: #cc5500;
  display: flex;
  justify-content: space-between;
}

.navlinks a {
  text-decoration: none;
  color: darkgreen;
}

.navlinks {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  gap: 20px;
}
